h1 .color{
    color:orange ;
    
}
.nav-link{
    margin-right: 3em;
    font-weight: 500;
}
.button{
    background-color: rgb(131, 185, 23);
    border-radius: 6px;
    border-style: none;
    width: 150px;
    height: 55px;
    
}
.button .btn{
    color: rgb(255, 254, 254);
}
header{
  background-color: rgb(235, 224, 224);
}



.woman-cart{
    display: flex;
  align-items: center;
 
 
}
.jacket{
    margin: 30px;

}
.col{
    display: block;
}
.card2 img{
    width: 600px;
    padding: 100px;
}
.card1{
    width: 30px;
}
section2{
    grid-column: auto;
}
 